div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  gap: 8px;
}

div span {
  text-align: center;
}

div img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

div img:hover {
  animation: bounce 1.5s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1050px) {
  div img {
    width: 45px;
    height: 45px;
  }

  div span {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  div img {
    width: 40px;
    height: 40px;
  }

  div span {
    font-size: 14px;
  }
}
