<section id="contact">
    <img class="groupSeven" src="./../../../assets/img/forms/Group 7.png">

    <div class="header">
        <div class="lineLeftInside"></div>
        <span>{{'contact.contactHeader' | translate}}</span>
    </div>
    <div class="maxWidth container">

        <div class="infoBlockEmail">
            <div>
                <span class="title">{{'contact.textOne' | translate}}</span>
                <span>{{'contact.textTwo' | translate}}</span>
                <span>
                    {{'contact.textThree' | translate}}
                    <span>{{'contact.textFour' | translate}}</span>
                </span>
            </div>
            <app-formular></app-formular>
        </div>
    </div>
</section>