<section>

    <div class="header">
        <div class="lineLeftInside"></div>
        <span>Contact</span>
    </div>
    <div class="maxWidth container">

        <div class="infoBlockEmail">
            <div>
                <span class="title">Got problem to solve?</span>
                <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my
                    work</span>
                <span>
                    Need a Frontend developer?
                    <span>Contact me!</span>
                </span>
            </div>
            <app-formular></app-formular>
        </div>
    </div>
</section>