<div class="lineOutsideLeft"></div>
<section id="contact">
    <img class="groupSeven" src="./../../../assets/img/forms/Group 7.png">

    <div class="header">
        <div class="lineLeftInside"></div>
        <span class="animateOnScroll">{{'contact.contactHeader' | translate}}</span>
    </div>
    <div class="maxWidth container">

        <div class="infoBlockEmail">
            <div>
                <span class="title animateOnScroll">{{'contact.textOne' | translate}}</span>
                <span class="animateOnScroll">{{'contact.textTwo' | translate}}</span>
                <span class="animateOnScroll">
                    {{'contact.textThree' | translate}}
                    <span>{{'contact.textFour' | translate}}</span>
                </span>
            </div>
            <app-formular></app-formular>
        </div>
    </div>
</section>
<div class="lineOutsideTransparent"></div>