.sidebar {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 100ms ease-in-out;

  &.active {
    transform: translateX(0);
  }
}

header {
  width: 100%;
  background-color: transparent;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;

    &:hover {
      color: rgb(0, 190, 232);
      transition: color 100ms linear;
      text-decoration: none;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 3px;
      background: rgb(75, 71, 255);
      position: absolute;
      bottom: -8px;
      left: 0;
      transition: width 125ms ease-in-out;
    }

    &:hover::after {
      width: 50%;
    }
  }
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  cursor: pointer;

  span {
    color: white;
    font-size: 40px;
    font-weight: bold;

    &:nth-child(3) {
      color: rgb(0, 190, 232);
    }

    &:nth-child(2) {
      color: rgb(75, 71, 255);
    }
  }
}

.maxWidth {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgerMenu {
  z-index: 999 !important;
  cursor: pointer;
}

.languageSwitcher {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;

  span {
    padding: 0 5px;
    cursor: pointer;
    position: relative;

    &.active {
      border-bottom: 2px solid rgb(0, 190, 232);
    }

    &:hover {
      color: rgb(0, 190, 232);
      transition: color 100ms linear;
    }
  }

  .divider {
    &:hover {
      color: white;
      transition: none;
    }
  }
}
