<section class="sidebar" [class.active]="isSidebarOpen">
    <header>
        <div class="maxWidth">
            <a class="name">
                <span>B</span>
                <span>e</span>
                <span>s</span>
                <span>i</span>
                <span>m</span>
            </a>
            <img (click)="this.controll.toggleSidebar()" id="burgerMenuSlide" class="burgerMenu" src="">
        </div>
    </header>
    <nav class="links">
        <a href="">About me</a>
        <a href="">Skills</a>
        <a href="">Portfolio</a>
    </nav>
</section>