section {
  width: 100%;
  background-color: rgb(20, 29, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

app-aboutme {
  width: 50%;
}

.roundPhoto {
  position: relative;
  z-index: 10;
  width: 500px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: solid 4px rgb(0, 190, 232);
  overflow: hidden;
  background-image: url(./../../../assets/img/besim.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  gap: 40px;
}

.lineRightInside {
  height: 4px;
  width: 100px;
  background-color: rgb(0, 190, 232);
  position: relative;
  z-index: 10;
}

.imgLineDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1100px) {
  .intro {
    justify-content: center;
    gap: 0;
  }

  .maxWidth {
    padding-right: 0;
  }

  app-aboutme {
    width: unset;
  }

  .maxWidth {
    padding-left: 5%;
    padding-right: 5%;
  }
}
