@import "./../../../styles.scss";

:host {
  @include flexPosition(center, unset, row);
}

section {
  width: 100%;
  max-width: 1990px;
  background-color: $darkBlue;
  @include flexPosition(center, unset, row);
  padding-bottom: 50px;
}

app-aboutme {
  width: 50%;
}

.roundPhoto {
  position: relative;
  z-index: 11;
  width: 500px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: solid 4px $babyBlue;
  overflow: hidden;
  background-color: $darkBlue;
  background-image: url(./../../../assets/img/besim2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro {
  @include flexPosition(space-between, center, row);
  padding-left: 0;
  gap: 40px;
}

.lineRightInside {
  height: 4px;
  width: 100px;
  background-color: $babyBlue;
  position: relative;
  z-index: 11;
}

.imgLineDiv {
  @include flexPosition(unset, center, row);
  position: relative;

  img {
    position: absolute;
    right: 0;
    top: -100px;
    width: 280px;
    z-index: 10;
  }
}

@media (max-width: 1100px) {
  .intro {
    @include flexPosition(center, unset, row);
    gap: 0;
  }

  .maxWidth {
    padding-right: 0;
  }

  app-aboutme {
    width: unset;
  }

  .maxWidth {
    padding-left: 5%;
    padding-right: 5%;
  }
}
