<section>
    <img *ngIf="currentPixel >= 650" class="form" src="./../../../assets/img/forms/curved-background-desktop.png">
    <img *ngIf="currentPixel < 650" class="form" src="./../../../assets/img/forms/curved-background.png">
    <div id="container" class="maxWidth">
        <div class="photoParentDiv">
            <img class="photoLandingpage" src="./../../../assets/img/besim.png">
            <img class="backgroundForm" src="./../../../assets/img/forms/Group 2.png">
        </div>

        <div class="parentTextContainer">
            <div class="textContainer">
                <span class="iAm">I am</span>
                <div id="textBox">
                    <span class="bm">Besim Mustafi</span>
                    <span class="fd">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <button>Let's talk!</button>
        </div>
    </div>

    <!-- <footer>
        hashahbjh
    </footer> -->
</section>