<section>
    <img *ngIf="currentPixel >= 650" class="form" src="/assets/img/forms/curved-background-desktop.png">
    <img *ngIf="currentPixel < 650" class="form" src="/assets/img/forms/curved-background.png">
    <div id="container" class="maxWidth">
        <div class="photoParentDiv">
            <img class="photoLandingpage" src="/assets/img/besim.png">
            <img class="backgroundForm" src="/assets/img/forms/Group 2.png">
        </div>

        <div class="parentTextContainer">
            <div class="textContainer">
                <span class="iAm">{{ 'landingPage.iAm' | translate }}</span>
                <div id="textBox">
                    <span class="bm">Besim Mustafi</span>
                    <span class="fd">{{ 'landingPage.frontendDeveloper' | translate }}</span>
                </div>
            </div>
            <a href="#contact"><button>{{ 'landingPage.letsTalk' | translate }}</button></a>
        </div>
        <span *ngIf="currentPixel >= 900" class="scrollDown">{{'landingPage.scrollDown' | translate}} <img
                 src="/assets/img/forms/arrow-down-line.png"></span>
    </div>

    <footer>
        <div class="navDiv">
            <nav>
                <div class="lineLeftInside"></div>
                <a href="https://github.com/" target="_blank"><img src="/assets/img/icons/git.png"></a>
                <a href="mailto:besimnaim@gmail.com"><img src="/assets/img/icons/mail.png"></a>
                <a href="https://www.linkedin.com/in/besim-mustafi-7486542a4/
                " target="_blank"><img src="/assets/img/icons/in.png"></a>
                <a *ngIf="currentPixel >= 650">besimnaim&#64;gmail.com</a>
            </nav>
        </div>
    </footer>

</section>