<section>
    <img class="form" src="./../../../assets/img/forms/curved-background.png" alt="curvedBackground">

    <div id="container" class="maxWidth">
        <div class="photoParentDiv">
            <img class="photoLandingpage" src="./../../../assets/img/besim.png" alt="personalPhoto">
        </div>
        <div class="textContainer">
            <span class="iAm">I am</span>
            <div id="textBox">
                <span class="bm">Besim Mustafi</span>
                <span class="fd">FRONTEND DEVELOPER</span>
                <button>Let's talk!</button>
            </div>
        </div>
    </div>
</section>