@import "./../../../styles.scss";

section {
  background-color: $darkBlue;
  @include flexPosition(center, center, column);
  position: relative;
}

#container {
  position: relative;
  @include flexPosition(center, unset, row);
}

.form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  z-index: 3;
  width: 100%;
}

.parentTextContainer {
  text-align: center;
  z-index: 4;
  padding-right: 100px;
}

.photoParentDiv {
  flex: 1;
  position: relative;
  z-index: 2;
  padding-top: 0;
}

.photoLandingpage {
  width: 430px;
  z-index: 2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.backgroundForm {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 1000px;
}

.textContainer {
  @include flexPosition(unset, unset, row);
  z-index: 3;
  padding-top: 160px;
  width: 60%;
}

#textBox {
  @include flexPosition(center, unset, column);
}

.bm {
  color: white;
  font-size: 80px;
  font-weight: bold;
  white-space: nowrap;
}

.fd {
  color: $midBlue;
  font-size: 59px;
  white-space: nowrap;
  margin-top: -30px;
  padding-bottom: 30px;
}

button {
  width: 30%;
  height: 58px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: $babyBlue;
  font-size: 20px;
  cursor: pointer;
  transition: width 0.1s ease, height 0.1s ease, background-color 0.1s ease;
  z-index: 3;

  &:hover {
    background-color: $midBlue;
    width: calc(30% + 10px);
    height: calc(58px + 10px);
  }
}

footer {
  height: 80px;
  @include flexPosition(center, center, row);
  z-index: 100;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;

  nav {
    @include flexPosition(unset, center, row);
    gap: 24px;

    > a {
      text-decoration: none;
      color: white;
      font-size: 28px;
      transition: all 125ms ease-in-out;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        transition: transform 125ms ease-in-out;
      }

      &:hover img {
        transform: scale(1.3);
        transition: transform 125ms ease-in-out;
      }
    }
  }
}

.navDiv {
  width: 100%;
  max-width: 1990px;
}

.lineLeftInside {
  height: 4px;
  width: 100px;
  background-color: $midBlue;
  border-radius: 5px;
  margin-left: -3px;
}

.scrollDown {
  z-index: 10;
  color: white;
  @include flexPosition(center, center, row);
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 750px;
  animation: scroll 3s infinite ease-in-out;
  transform: rotate(90deg);

  img {
    transform: rotate(-90deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(20px) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
