<header id="header">
    <div class="maxWidth">
        <a class="name" href="#">
            <span>B</span>
            <span>e</span>
            <span>s</span>
            <span>i</span>
            <span>m</span>
        </a>
        <img *ngIf="controll.isBurgerMenuVisible" (click)="toggleSidebar()" id="burgerMenu" class="burgerMenu"
             src="./../../../assets/img/forms/burger menu.png" alt="burgerMenu">
        <nav class="links">
            <a href="#aboutMe">
                {{ 'header.aboutMe' | translate }}
            </a>
            <a href="#skills">
                {{ 'header.skills' | translate }}
            </a>
            <a href="#portfolio">
                {{ 'header.portfolio' | translate }}
            </a>
            <div class="languageSwitcher">
                <span (click)="switchLanguage('en')" [class.active]="controll.selectedLanguage === 'en'">EN</span>
                <span class="divider">|</span>
                <span (click)="switchLanguage('de')" [class.active]="controll.selectedLanguage === 'de'">DE</span>
            </div>
        </nav>
    </div>
</header>