<section class="maxWidth">
    <div class="pp">
        <span class="title">{{ 'privacyPolicy.title' | translate }}</span>
        <div class="goBack"><a href="#header"><img src="./../../../../assets/img/forms/goup.png"></a></div>
    </div>

    <h3>{{ 'privacyPolicy.dataProtectionAtAGlance' | translate }}</h3>
    <h4>{{ 'privacyPolicy.generalInformation' | translate }}</h4>
    <p>{{ 'privacyPolicy.generalInfoText' | translate }}</p>
    <h4>{{ 'privacyPolicy.dataCollectionOnWebsite' | translate }}</h4>
    <h5>{{ 'privacyPolicy.responsibleParty' | translate }}</h5>
    <p>{{ 'privacyPolicy.responsiblePartyText' | translate }}</p>
    <h5>{{ 'privacyPolicy.howDataCollected' | translate }}</h5>
    <p>{{ 'privacyPolicy.howDataCollectedText' | translate }}</p>
    <h5>{{ 'privacyPolicy.dataUsage' | translate }}</h5>
    <p>{{ 'privacyPolicy.dataUsageText' | translate }}</p>
    <h5>{{ 'privacyPolicy.yourRights' | translate }}</h5>
    <p>{{ 'privacyPolicy.yourRightsText' | translate }}</p>
    <h3>{{ 'privacyPolicy.hosting' | translate }}</h3>
    <p>{{ 'privacyPolicy.hostingProvider' | translate }}</p>
    <h4>{{ 'privacyPolicy.providerName' | translate }}</h4>
    <p>{{ 'privacyPolicy.providerDetails' | translate }}</p>
    <h4>{{ 'privacyPolicy.orderProcessing' | translate }}</h4>
    <p>{{ 'privacyPolicy.orderProcessingText' | translate }}</p>
    <h3>{{ 'privacyPolicy.generalMandatoryInfo' | translate }}</h3>
    <h4>{{ 'privacyPolicy.dataProtection' | translate }}</h4>
    <p>{{ 'privacyPolicy.dataProtectionText' | translate }}</p>
    <h4>{{ 'privacyPolicy.responsiblePartyDetails' | translate }}</h4>
    <p>{{ 'privacyPolicy.responsiblePartyContact' | translate }}</p>
    <h4>{{ 'privacyPolicy.storageDuration' | translate }}</h4>
    <p>{{ 'privacyPolicy.storageDurationText' | translate }}</p>
    <h4>{{ 'privacyPolicy.legalBases' | translate }}</h4>
    <p>{{ 'privacyPolicy.legalBasesText' | translate }}</p>
    <h4>{{ 'privacyPolicy.recipients' | translate }}</h4>
    <p>{{ 'privacyPolicy.recipientsText' | translate }}</p>
    <h4>{{ 'privacyPolicy.consentRevocation' | translate }}</h4>
    <p>{{ 'privacyPolicy.consentRevocationText' | translate }}</p>
    <h4>{{ 'privacyPolicy.rightToObject' | translate }}</h4>
    <p>{{ 'privacyPolicy.rightToObjectText' | translate }}</p>
    <h4>{{ 'privacyPolicy.complaint' | translate }}</h4>
    <p>{{ 'privacyPolicy.complaintText' | translate }}</p>
    <h4>{{ 'privacyPolicy.dataPortability' | translate }}</h4>
    <p>{{ 'privacyPolicy.dataPortabilityText' | translate }}</p>
    <h4>{{ 'privacyPolicy.informationCorrectionDeletion' | translate }}</h4>
    <p>{{ 'privacyPolicy.informationCorrectionDeletionText' | translate }}</p>
    <h4>{{ 'privacyPolicy.restrictionOfProcessing' | translate }}</h4>
    <p>{{ 'privacyPolicy.restrictionOfProcessingText' | translate }}</p>
    <h4>{{ 'privacyPolicy.sslTlsEncryption' | translate }}</h4>
    <p>{{ 'privacyPolicy.sslTlsEncryptionText' | translate }}</p>
    <h3>{{ 'privacyPolicy.dataCollection' | translate }}</h3>
    <h4>{{ 'privacyPolicy.cookies' | translate }}</h4>
    <p>{{ 'privacyPolicy.cookiesText' | translate }}</p>
    <h4>{{ 'privacyPolicy.contactForm' | translate }}</h4>
    <p>{{ 'privacyPolicy.contactFormText' | translate }}</p>
    <h4>{{ 'privacyPolicy.inquiryByEmailPhoneFax' | translate }}</h4>
    <p>{{ 'privacyPolicy.inquiryByEmailPhoneFaxText' | translate }}</p>
    <h3>{{ 'privacyPolicy.pluginsAndTools' | translate }}</h3>
    <h4>{{ 'privacyPolicy.fontAwesome' | translate }}</h4>
    <p>{{ 'privacyPolicy.fontAwesomeText' | translate }}</p>
    <h4>{{ 'privacyPolicy.myFonts' | translate }}</h4>
    <p>{{ 'privacyPolicy.myFontsText' | translate }}</p>
    <h4>{{ 'privacyPolicy.googleWebFonts' | translate }}</h4>
    <p>{{ 'privacyPolicy.googleWebFontsText' | translate }}</p>
    <h4>{{ 'privacyPolicy.linkedIn' | translate }}</h4>
    <p>{{ 'privacyPolicy.linkedInText' | translate }}</p>

</section>