<section class="maxWidth">
    <div class="pp">
        <span class="title">Privacy Policy</span>
        <div class="goBack"><a href="#header"><img src="./../../../../assets/img/forms/goup.png"></a></div>
    </div>

    <h3>1. Data Protection at a Glance</h3>

    <h4>General Information</h4>

    <p>The following information provides a simple overview of what happens to your personal data when you visit this website. Personal data is any
        data by which you can be personally identified. Detailed information on the subject of data protection can be found in our privacy policy
        listed below.</p>

    <h4>Data Collection on this Website</h4>

    <h5>Who is responsible for data collection on this website?</h5>

    <p>Data processing on this website is carried out by the website operator. You can find their contact details in the section "Notice concerning
        the responsible party" in this privacy policy.</p>

    <h5>How do we collect your data?</h5>

    <p>Your data is collected firstly by you providing it to us. This could, for example, be data you enter in a contact form.</p>

    <p>Other data is collected automatically or with your consent when you visit the website by our IT systems. This is primarily technical data
        (e.g., internet browser, operating system, or time of page access). This data is collected automatically as soon as you enter this website.
    </p>

    <h5>What do we use your data for?</h5>

    <p>Part of the data is collected to ensure the error-free provision of the website. Other data can be used to analyze your user behavior.</p>

    <h5>What rights do you have regarding your data?</h5>

    <p>You have the right to receive information about the origin, recipient, and purpose of your stored personal data at any time without charge. You
        also have the right to request the correction or deletion of this data. If you have given consent to data processing, you can revoke this
        consent at any time for the future. You also have the right to request the restriction of the processing of your personal data under certain
        circumstances. Furthermore, you have the right to lodge a complaint with the competent supervisory authority.</p>

    <p>You can contact us at any time regarding this or other questions on the subject of data protection.</p>

    <h3>2. Hosting</h3>
    <p>We host the content of our website with the following provider:</p>

    <h4>All-Inkl</h4>

    <p>The provider is ALL-INKL.COM - Neue Medien Münnich, Inh. René Münnich, Hauptstraße 68, 02742 Friedersdorf (hereinafter All-Inkl). You can find
        more details in All-Inkl's privacy policy: <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
           rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.</p>

    <p>The use of All-Inkl is based on Art. 6 (1) lit. f GDPR. We have a legitimate interest in the most reliable representation of our website. If
        appropriate consent has been requested, processing is carried out exclusively on the basis of Art. 6 (1) lit. a GDPR and § 25 (1) TDDG,
        insofar as the consent includes the storage of cookies or access to information on the user's terminal device (e.g., device fingerprinting)
        within the meaning of the TDDG. Consent can be revoked at any time.</p>

    <h4>Order Processing</h4>

    <p>We have concluded an order processing contract (AVV) with the above-mentioned provider. This is a contract required by data protection law that
        ensures that this provider processes the personal data of our website visitors only according to our instructions and in compliance with the
        GDPR.</p>

    <h3>3. General Information and Mandatory Information</h3>

    <h4>Data Protection</h4>

    <p>The operators of these pages take the protection of your personal data very seriously. We treat your personal data confidentially and in
        accordance with the legal data protection regulations and this privacy policy.</p>

    <p>If you use this website, various personal data will be collected. Personal data is data by which you can be personally identified. This privacy
        policy explains what data we collect and what we use it for. It also explains how and for what purpose this happens.</p>

    <p>We point out that data transmission over the Internet (e.g., communication by email) can have security gaps. A complete protection of data
        against access by third parties is not possible.</p>

    <h4>Notice concerning the Responsible Party</h4>

    <p>The responsible party for data processing on this website is:</p>

    <p>Besim Mustafi<br>
        Baden-Württemberg<br>
        78532 Tuttlingen<br>
        Duttentalstr. 9</p>

    <p>Phone: 01736094935<br>
        Email: besimnaim&#64;gmail.com</p>

    <p>The responsible party is the natural or legal person who, alone or jointly with others, determines the purposes and means of the processing of
        personal data (e.g., names, email addresses, etc.).</p>

    <h4>Storage Duration</h4>

    <p>Unless a more specific storage period has been stated within this privacy policy, your personal data will remain with us until the purpose for
        the data processing no longer applies. If you assert a legitimate deletion request or revoke your consent to data processing, your data will
        be deleted unless we have other legally permissible reasons for storing your personal data (e.g., tax or commercial law retention periods); in
        the latter case, the deletion will occur after these reasons no longer apply.</p>

    <h4>General Information on the Legal Bases for Data Processing on this Website</h4>

    <p>If you have consented to data processing, we process your personal data on the basis of Art. 6 (1) lit. a GDPR or Art. 9 (2) lit. a GDPR,
        provided that special data categories according to Art. 9 (1) GDPR are processed. In the case of explicit consent to the transfer of personal
        data to third countries, the data processing is also based on Art. 49 (1) lit. a GDPR. If you have consented to the storage of cookies or
        access to information in your terminal device (e.g., via device fingerprinting), the data processing is additionally based on § 25 (1) TDDG.
        Consent can be revoked at any time. If your data is required for the fulfillment of a contract or for the implementation of pre-contractual
        measures, we process your data on the basis of Art. 6 (1) lit. b GDPR. Furthermore, we process your data if this is necessary to fulfill a
        legal obligation on the basis of Art. 6 (1) lit. c GDPR. Data processing may also be based on our legitimate interest according to Art. 6 (1)
        lit. f GDPR. The respective legal bases relevant to the processing of your personal data are explained in this privacy policy.</p>

    <h4>Recipients of Personal Data</h4>

    <p>In the context of our business activities, we work with various external entities. This may also involve the transfer of personal data to these
        external entities. We only transfer personal data to external entities if this is necessary for contract fulfillment, if we are legally
        obliged to do so (e.g., transfer of data to tax authorities), if we have a legitimate interest in the transfer (Art. 6 (1) lit. f GDPR), or if
        another legal basis allows the data transfer. When using processors, we only transfer personal data of our customers on the basis of a valid
        order processing contract. In the case of joint processing, a contract for joint processing is concluded.</p>

    <h4>Revocation of your Consent to Data Processing</h4>

    <p>Many data processing operations are only possible with your explicit consent. You can revoke an already given consent at any time. The legality
        of the data processing carried out up to the revocation remains unaffected by the revocation.</p>

    <h4>Right to Object to Data Collection in Special Cases and to Direct Advertising (Art. 21 GDPR)</h4>

    <p>IF THE DATA PROCESSING IS BASED ON ART. 6 (1) LIT. E OR F GDPR, YOU HAVE THE RIGHT TO OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA AT ANY
        TIME FOR REASONS ARISING FROM YOUR PARTICULAR SITUATION; THIS ALSO APPLIES TO PROFILING BASED ON THESE PROVISIONS. THE RESPECTIVE LEGAL BASIS
        ON WHICH PROCESSING IS BASED CAN BE FOUND IN THIS PRIVACY POLICY. IF YOU OBJECT, WE WILL NO LONGER PROCESS YOUR AFFECTED PERSONAL DATA UNLESS
        WE CAN DEMONSTRATE COMPELLING LEGITIMATE GROUNDS FOR THE PROCESSING THAT OVERRIDE YOUR INTERESTS, RIGHTS, AND FREEDOMS OR THE PROCESSING IS
        FOR THE ESTABLISHMENT, EXERCISE, OR DEFENSE OF LEGAL CLAIMS (OBJECTION UNDER ART. 21 (1) GDPR).</p>

    <p>IF YOUR PERSONAL DATA IS PROCESSED FOR DIRECT MARKETING PURPOSES, YOU HAVE THE RIGHT TO OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA FOR SUCH
        MARKETING AT ANY TIME; THIS ALSO APPLIES TO PROFILING INSOFAR AS IT IS ASSOCIATED WITH SUCH DIRECT MARKETING. IF YOU OBJECT, YOUR PERSONAL
        DATA WILL THEN NO LONGER BE USED FOR DIRECT MARKETING PURPOSES (OBJECTION UNDER ART. 21 (2) GDPR).</p>

    <h4>Right to Lodge a Complaint with the Competent Supervisory Authority</h4>

    <p>In the event of violations of the GDPR, data subjects have the right to lodge a complaint with a supervisory authority, particularly in the
        member state of their habitual residence, place of work, or place of the alleged infringement. The right to lodge a complaint is without
        prejudice to any other administrative or judicial remedies.</p>

    <h4>Right to Data Portability</h4>

    <p>You have the right to have data that we process based on your consent or in fulfillment of a contract automatically delivered to you or to a
        third party in a common, machine-readable format. If you request the direct transfer of the data to another controller, this will only be done
        to the extent technically feasible.</p>

    <h4>Information, Correction, and Deletion</h4>

    <p>Within the scope of the applicable legal provisions, you have the right at any time to free information about your stored personal data, its
        origin and recipient, and the purpose of the data processing and, if necessary, a right to correction or deletion of this data. You can
        contact us at any time regarding this or other questions on the subject of personal data.</p>

    <h4>Right to Restriction of Processing</h4>

    <p>You have the right to request the restriction of the processing of your personal data. You can contact us at any time regarding this. The right
        to restriction of processing exists in the following cases:</p>

    <ul>
        <li>If you dispute the accuracy of your personal data stored with us, we usually need time to check this. For the duration of the review, you
            have the right to request the restriction of the processing of your personal data.</li>
        <li>If the processing of your personal data was/is unlawful, you can request the restriction of data processing instead of deletion.</li>
        <li>If we no longer need your personal data, but you need it for the exercise, defense, or establishment of legal claims, you have the right
            to request the restriction of the processing of your personal data instead of deletion.</li>
        <li>If you have lodged an objection under Art. 21 (1) GDPR, a balance must be struck between your and our interests. As long as it is not yet
            clear whose interests prevail, you have the right to request the restriction of the processing of your personal data.</li>
    </ul>

    <p>If you have restricted the processing of your personal data, this data - apart from its storage - may only be processed with your consent or
        for the establishment, exercise, or defense of legal claims or for the protection of the rights of another natural or legal person or for
        reasons of important public interest of the European Union or a member state.</p>

    <h4>SSL or TLS Encryption</h4>

    <p>This site uses SSL or TLS encryption for security reasons and to protect the transmission of confidential content, such as orders or inquiries
        you send to us as the site operator. You can recognize an encrypted connection by the fact that the address line of the browser changes from
        "http://" to "https://" and by the lock symbol in your browser line.</p>

    <p>If SSL or TLS encryption is activated, the data you transmit to us cannot be read by third parties.</p>

    <h3>4. Data Collection on this Website</h3>

    <h4>Cookies</h4>

    <p>Our internet pages use so-called "cookies." Cookies are small data packets that do not cause any damage to your terminal device. They are
        either stored temporarily for the duration of a session (session cookies) or permanently (permanent cookies) on your terminal device. Session
        cookies are automatically deleted after your visit. Permanent cookies remain stored on your terminal device until you delete them or your web
        browser automatically deletes them.</p>

    <p>Cookies can be set by us (first-party cookies) or by third-party companies (so-called third-party cookies). Third-party cookies enable the
        integration of certain services provided by third-party companies within websites (e.g., cookies for processing payment services).</p>

    <p>Cookies have various functions. Many cookies are technically necessary because certain website functions would not work without them (e.g., the
        shopping cart function or the display of videos). Other cookies can be used to analyze user behavior or for advertising purposes.</p>

    <p>Cookies that are necessary to carry out the electronic communication process, to provide certain functions you want (e.g., for the shopping
        cart function), or to optimize the website (e.g., cookies to measure web audience) are stored based on Art. 6 (1) lit. f GDPR unless another
        legal basis is specified. The website operator has a legitimate interest in storing necessary cookies for the technically error-free and
        optimized provision of its services. If consent to the storage of cookies and comparable recognition technologies has been requested,
        processing is carried out exclusively on the basis of this consent (Art. 6 (1) lit. a GDPR and § 25 (1) TDDG); consent can be revoked at any
        time.</p>

    <p>You can set your browser so that you are informed about the setting of cookies and allow cookies only in individual cases, exclude the
        acceptance of cookies for certain cases or in general, and activate the automatic deletion of cookies when closing the browser. If cookies are
        deactivated, the functionality of this website may be restricted.</p>

    <p>Which cookies and services are used on this website can be found in this privacy policy.</p>

    <h4>Contact Form</h4>

    <p>If you send us inquiries via the contact form, your details from the inquiry form, including the contact details you provide there, will be
        stored by us for the purpose of processing the inquiry and in case of follow-up questions. We do not pass on this data without your consent.
    </p>

    <p>The processing of this data is based on Art. 6 (1) lit. b GDPR if your inquiry is related to the fulfillment of a contract or is necessary for
        the implementation of pre-contractual measures. In all other cases, the processing is based on our legitimate interest in the effective
        processing of the inquiries addressed to us (Art. 6 (1) lit. f GDPR) or on your consent (Art. 6 (1) lit. a GDPR) if this has been requested;
        consent can be revoked at any time.</p>

    <p>The data you enter in the contact form will remain with us until you request us to delete it, revoke your consent to storage, or the purpose
        for data storage no longer applies (e.g., after your request has been processed). Mandatory legal provisions - especially retention periods -
        remain unaffected.</p>

    <h4>Inquiry by Email, Telephone, or Fax</h4>

    <p>If you contact us by email, telephone, or fax, your inquiry, including all resulting personal data (name, inquiry) will be stored and processed
        by us for the purpose of processing your request. We do not pass on this data without your consent.</p>

    <p>The processing of this data is based on Art. 6 (1) lit. b GDPR if your inquiry is related to the fulfillment of a contract or is necessary for
        the implementation of pre-contractual measures. In all other cases, the processing is based on our legitimate interest in the effective
        processing of the inquiries addressed to us (Art. 6 (1) lit. f GDPR) or on your consent (Art. 6 (1) lit. a GDPR) if this has been requested;
        consent can be revoked at any time.</p>

    <p>The data you send to us via contact inquiries will remain with us until you request us to delete it, revoke your consent to storage, or the
        purpose for data storage no longer applies (e.g., after your request has been processed). Mandatory legal provisions - especially legal
        retention periods - remain unaffected.</p>

    <h3>5. Plugins and Tools</h3>

    <h4>Font Awesome (local hosting)</h4>

    <p>This site uses Font Awesome for uniform representation of fonts. Font Awesome is installed locally. No connection to servers of Fonticons, Inc.
        takes place.</p>

    <p>For more information about Font Awesome, please refer to Font Awesome's privacy policy at: <a href="https://fontawesome.com/privacy"
           target="_blank" rel="noopener noreferrer">https://fontawesome.com/privacy</a>.</p>

    <h4>MyFonts</h4>

    <p>This site uses MyFonts. These are fonts that are loaded into your browser when you visit our website to ensure a uniform font representation.
        The provider is Monotype Imaging Holdings Inc., 600 Unicorn Park Drive, Woburn, Massachusetts 01801, USA.</p>

    <p>To ensure compliance with the license conditions and to count the number of monthly page views, MyFonts transfers your IP address along with
        the URL of our website and our contract data to its servers in the USA. According to Monotype, your IP address is anonymized immediately after
        transmission, so no personal reference can be made (anonymization).</p>

    <p>For more details, please refer to the privacy policy of Monotype at: <a
           href="https://www.monotype.com/legal/privacy-policy/privacy-policy-for-tracking-web-fonts" target="_blank"
           rel="noopener noreferrer">https://www.monotype.com/legal/privacy-policy/privacy-policy-for-tracking-web-fonts</a>.</p>

    <p>The company is certified under the "EU-US Data Privacy Framework" (DPF). The DPF is an agreement between the European Union and the USA that
        aims to ensure compliance with European data protection standards for data processing in the USA. Each company certified under the DPF
        undertakes to comply with these data protection standards. For more information, please refer to the provider at: <a
           href="https://www.dataprivacyframework.gov/s/participant-search/participant-detail?id=a2z3d0000001so6AAA&status=Active" target="_blank"
           rel="noopener noreferrer">https://www.dataprivacyframework.gov/s/participant-search/participant-detail?id=a2z3d0000001so6AAA&status=Active</a>.
    </p>

    <h4>Google Web Fonts</h4>

    <p>This site uses so-called web fonts provided by Google for the uniform representation of fonts. When you call up a page, your browser loads the
        required web fonts into its browser cache to display texts and fonts correctly.</p>

    <p>For this purpose, the browser you use must connect to Google's servers. Through this, Google gains knowledge that this website was accessed via
        your IP address. The use of Google Web Fonts is based on Art. 6 (1) lit. f GDPR. The website operator has a legitimate interest in the uniform
        representation of the typeface on its website. If appropriate consent has been requested, processing is carried out exclusively on the basis
        of Art. 6 (1) lit. a GDPR and § 25 (1) TDDG, insofar as the consent includes the storage of cookies or access to information on the user's
        terminal device (e.g., device fingerprinting) within the meaning of the TDDG. Consent can be revoked at any time.</p>

    <p>If your browser does not support web fonts, a standard font from your computer will be used.</p>

    <p>For more information about Google Web Fonts, please refer to <a href="https://developers.google.com/fonts/faq" target="_blank"
           rel="noopener noreferrer">https://developers.google.com/fonts/faq</a> and Google's privacy policy: <a
           href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">https://www.google.com/policies/privacy/</a>.</p>

    <h4>LinkedIn</h4>

    <p>Our website links to our profile on LinkedIn. The provider of the service is LinkedIn Ireland Unlimited Company, Wilton Plaza, Wilton Place,
        Dublin 2, Ireland. If you click on the LinkedIn link, a direct connection between your browser and the LinkedIn server will be established.
        LinkedIn thus receives the information that you have visited our site with your IP address. If you click the LinkedIn "Recommend" button and
        are logged into your LinkedIn account, LinkedIn can associate your visit to our site with your user account. We point out that we, as the
        provider of the pages, have no knowledge of the content of the transmitted data as well as their use by LinkedIn. For more information, please
        refer to LinkedIn's privacy policy at: <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank"
           rel="noopener noreferrer">https://www.linkedin.com/legal/privacy-policy</a>.</p>
    <div>Source:
        <a target="_blank" href="https://www.e-recht24.de">https://www.e-recht24.de</a>, Besim Mustafi
    </div>
</section>