<section id="skills">
    <div class="skills">
        <app-icons></app-icons>
        <div class="skillsText">
            <div class="skillsTextHeader">
                <span class="title">{{ 'skills.mySkills' | translate }}</span>
                <div class="lineRightInside"></div>
            </div>
            <div class="skillsTextHeader">
                <span class="infoSkills">{{ 'skills.text' | translate }}</span>
                <div class="lineRightTransparent"></div>
            </div>
            <a href="#contact"><button *ngIf="currentPixel >= 860">{{ 'skills.getInTouch' | translate }}</button></a>
        </div>
        <a href="#contact"><button *ngIf="currentPixel < 860">{{ 'skills.getInTouch' | translate }}</button></a>
    </div>
</section>