<section>
    <!-- <div class="lineLeft"></div> -->
    <div class="maxWidth skills">
        <app-icons></app-icons>
        <div class="skillsText">
            <span class="title">My skills </span>
            <span class="infoSkills">I have grownmy frontend developments skills that have allowed me to create different real projects</span>
            <button *ngIf="currentPixel >= 860">Get in touch</button>
        </div>
        <button *ngIf="currentPixel < 860">Get in touch</button>
    </div>
    <!-- <div class="lineRight"></div> -->
</section>