<div id="aboutMe" class="aboutMe">
    <span class="title">{{ 'header.aboutMe' | translate }}</span>
    <span>{{ 'intro.introText' | translate }}</span>
    <div class="infoDiv">
        <div class="info">
            <img src="./../../../../assets/img/forms/bulb desktop.png">
            <span>{{ 'intro.bulbText' | translate }}</span>
        </div>
        <div class="info">
            <img src="./../../../../assets/img/forms/puzzle desktop.png">
            <span>{{ 'intro.puzzleText' | translate }}</span>
        </div>
    </div>
</div>