<div id="aboutMe" class="aboutMe">
    <span class="title">About me</span>
    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem sed, nesciunt error totam blanditiis rem, officia numquam asperiores,
        dolore eum laborum maxime sequi consequatur voluptate molestias voluptatibus deserunt porro explicabo!</span>
    <div class="infoDiv">
        <div class="info">
            <img src="./../../../../assets/img/forms/bulb desktop.png">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, reprehenderit quos. Accusantium, magni error assumenda architecto
                dignissimos ducimus sequi suscipit. Illo ipsam dolorem sit necessitatibus voluptates provident aperiam placeat labore.</span>
        </div>
        <div class="info">
            <img src="./../../../../assets/img/forms/puzzle desktop.png">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur cum magnam eos architecto perspiciatis adipisci dolore itaque
                aspernatur quas vitae, et quae rerum consectetur quis autem. Officiis voluptates sed laboriosam.</span>
        </div>
    </div>
</div>