<section>
    <div class="maxWidth headlinePortfolio">
        <div class="lineLeftEmpty"></div>
        <div class="lineLeft"></div>
        <span>Portfolio</span>
        <div class="lineRight"></div>
    </div>
    <span class="maxWidth">Explore a selection of my work here - Interact with projects to see my skills in action</span>
    <app-project img="./../../../../assets/img/laptop1.png" title="Join" skills="HTML | CSS | JavaScript"
                 description="Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories."></app-project>
    <app-project-reverse img="./../../../../assets/img/laptop2.png" title="El Pollo Loco" skills="JavaScript | HTML | CSS | OOP"
                         description="A simple Jump-and-run game based on an object-oriented approach. Help Pepe to find coins and salsa bottles to fight against the killer chicken."></app-project-reverse>
</section>