<img class="groupFive" src="./../../../assets/img/forms/Group 5.png">


<div class="projectBlock maxWidth">
    <a href="">
        <img [src]="img">
    </a>
    <div class="infoBlock">
        <span class="title">{{ title }}</span>
        <span class="skills">{{ skills }}</span>
        <span class="description">{{ description }}</span>
        <div>
            <a target="_blank" href="{{linkTest}}" class="liveTest">Live test</a>
            <a target="_blank" href="{{link}}" class="gitHub">Github</a>
        </div>
    </div>
</div>