<img class="groupFive" src="./../../../assets/img/forms/Group 5.png">


<div class="projectBlock maxWidth">

    <img [src]="img">

    <div class="infoBlock">
        <span class="title animateOnScroll">{{ title }}</span>
        <span class="skills animateOnScroll">{{ skills }}</span>
        <span class="description animateOnScroll">{{ description }}</span>
        <div>
            <a target="_blank" href="{{linkTest}}" class="liveTest">Live test</a>
            <a target="_blank" href="{{link}}" class="gitHub">Github</a>
        </div>
    </div>
</div>