section {
  background-color: rgb(20, 29, 47);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    gap: 24px;
    align-items: center;
    > a {
      text-decoration: none;
      color: white;
      font-size: 28px;
      transition: all 125ms ease-in-out;

      &:hover {
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:nth-child(1) {
          transform: scale(1.4);
        }
        &:nth-child(2) {
          transform: scale(1.4);
        }
        &:nth-child(3) {
          transform: scale(1.4);
        }
      }
    }
  }
}

.line {
  width: 10%;
  height: 4px;
  background-color: yellow;
}
